@tailwind base;
@tailwind components;
@tailwind utilities;

.hover\:underline-animation::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: black;
    transition: width 0.3s;
  }
  
  .hover\:underline-animation:hover::after {
    width: 100%
  }
  